dotNET/HealthVault - Your Web Service - Your Client Apps/C#/HealthVaultProxyTest/Service References/HVConnect/HVConnect.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:29182/HVConnect.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HealthVaultProxy" />
  <xs:element name="CreateConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HealthVaultProxy" minOccurs="0" name="request" nillable="true" type="q1:ConnectRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HealthVaultProxy" minOccurs="0" name="CreateConnectionResult" nillable="true" type="q2:ConnectResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidatedConnections">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HealthVaultProxy" minOccurs="0" name="request" nillable="true" type="q3:ValidatedConnectionsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidatedConnectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HealthVaultProxy" minOccurs="0" name="GetValidatedConnectionsResult" nillable="true" type="q4:ValidatedConnectionsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePendingConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HealthVaultProxy" minOccurs="0" name="request" nillable="true" type="q5:DeletePendingConnectionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePendingConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HealthVaultProxy" minOccurs="0" name="DeletePendingConnectionResult" nillable="true" type="q6:DeletePendingConnectionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RevokeApplicationConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HealthVaultProxy" minOccurs="0" name="request" nillable="true" type="q7:RevokeApplicationConnectionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RevokeApplicationConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HealthVaultProxy" minOccurs="0" name="RevokeApplicationConnectionResult" nillable="true" type="q8:RevokeApplicationConnectionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>