dotNET/HealthVault - Your Web Service - Your Client Apps/C#/HealthVaultProxyTest/Service References/HVDataAccess/HVDataAccess.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HVDataAccess" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:29182/HVDataAccess.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:29182/HVDataAccess.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:29182/HVDataAccess.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HealthVaultProxy" />
      <xsd:import schemaLocation="http://localhost:29182/HVDataAccess.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHVDataAccess_GetUpdatedRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdatedRecords" />
  </wsdl:message>
  <wsdl:message name="IHVDataAccess_GetUpdatedRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdatedRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IHVDataAccess_GetThings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetThings" />
  </wsdl:message>
  <wsdl:message name="IHVDataAccess_GetThings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetThingsResponse" />
  </wsdl:message>
  <wsdl:message name="IHVDataAccess_PutThing_InputMessage">
    <wsdl:part name="parameters" element="tns:PutThing" />
  </wsdl:message>
  <wsdl:message name="IHVDataAccess_PutThing_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutThingResponse" />
  </wsdl:message>
  <wsdl:message name="IHVDataAccess_PutThings_InputMessage">
    <wsdl:part name="parameters" element="tns:PutThings" />
  </wsdl:message>
  <wsdl:message name="IHVDataAccess_PutThings_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutThingsResponse" />
  </wsdl:message>
  <wsdl:portType name="IHVDataAccess">
    <wsdl:operation name="GetUpdatedRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IHVDataAccess/GetUpdatedRecords" message="tns:IHVDataAccess_GetUpdatedRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHVDataAccess/GetUpdatedRecordsResponse" message="tns:IHVDataAccess_GetUpdatedRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetThings">
      <wsdl:input wsaw:Action="http://tempuri.org/IHVDataAccess/GetThings" message="tns:IHVDataAccess_GetThings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHVDataAccess/GetThingsResponse" message="tns:IHVDataAccess_GetThings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutThing">
      <wsdl:input wsaw:Action="http://tempuri.org/IHVDataAccess/PutThing" message="tns:IHVDataAccess_PutThing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHVDataAccess/PutThingResponse" message="tns:IHVDataAccess_PutThing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutThings">
      <wsdl:input wsaw:Action="http://tempuri.org/IHVDataAccess/PutThings" message="tns:IHVDataAccess_PutThings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHVDataAccess/PutThingsResponse" message="tns:IHVDataAccess_PutThings_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHVDataAccess" type="tns:IHVDataAccess">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUpdatedRecords">
      <soap:operation soapAction="http://tempuri.org/IHVDataAccess/GetUpdatedRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThings">
      <soap:operation soapAction="http://tempuri.org/IHVDataAccess/GetThings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutThing">
      <soap:operation soapAction="http://tempuri.org/IHVDataAccess/PutThing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutThings">
      <soap:operation soapAction="http://tempuri.org/IHVDataAccess/PutThings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HVDataAccess">
    <wsdl:port name="BasicHttpBinding_IHVDataAccess" binding="tns:BasicHttpBinding_IHVDataAccess">
      <soap:address location="http://localhost:29182/HVDataAccess.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>