dotNET/HealthVault - Your Web Service - Your Client Apps/C#/HealthVaultProxyTest/Service References/HVDropOff/HVDropOff1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:29182/HVDropOff.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HealthVaultProxy" />
  <xs:element name="PreAllocatePackageId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreAllocatePackageIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HealthVaultProxy" minOccurs="0" name="PreAllocatePackageIdResult" nillable="true" type="q1:PreAllocatePackageIdResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DropOffForPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HealthVaultProxy" minOccurs="0" name="request" nillable="true" type="q2:DropOffRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DropOffForPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HealthVaultProxy" minOccurs="0" name="DropOffForPatientResult" nillable="true" type="q3:DropOffResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DropOffForPackageId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HealthVaultProxy" minOccurs="0" name="request" nillable="true" type="q4:DropOffRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DropOffForPackageIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HealthVaultProxy" minOccurs="0" name="DropOffForPackageIdResult" nillable="true" type="q5:DropOffResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePendingForPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocalPatientId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePendingForPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HealthVaultProxy" minOccurs="0" name="DeletePendingForPatientResult" nillable="true" type="q6:HVProxyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePendingForPackageId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DopuPackageId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePendingForPackageIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HealthVaultProxy" minOccurs="0" name="DeletePendingForPackageIdResult" nillable="true" type="q7:HVProxyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>